.content{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.mainArea{
    width: 550px;
    margin: auto;
}

.textArea{
    padding: 10px;
}

.form-label{
    font-size: larger;
    font-style: oblique;
    margin-bottom: 20px;
}

.buttons1{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.buttons0{
    display: flex;
    justify-content: right;
}
.convertText{
    margin-left: 30px;
}
.btn{
    margin: 0%;
    padding: 0%;
    width: 150px;
    height: 50px;
}
.btndiv{
    display: flex;
    justify-content: center;
}